.container {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px 20px 30px;
}

.container__cadrd {
  background-color: #fff;
  border-radius: 4px;
}

body {
  background-color: blue;
}

#form input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  height: 14px;
  width: 200px;
}

#form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#button23 {
  color: #fff;
  background-color: red;
  padding: 3px 3px;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
}

ol {
  list-style: none;
  margin-left: -40px;
}

span {
  margin: 3px 3px 0 5px;
}

li {
  display: flex;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  justify-content: space-between;
  margin-top: 10px;
}

#form button {
  font-size: 20px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #9346e4;
  border: 1px solid #000;
  color: #fff;
}

#button1 {
  font-size: 14px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #9346e4;
  border: 1px solid #000;
  color: #fff;
  margin-left: 185px;
}
